/*#########  ganral codeing ##############*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0a0a0a;
}
html{
    font-size: 62.5%;
    background-color:#ebe5e5;
    
    }
body{
    font-family: "montserrat" sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 64px 1fr 84px;
    height: 100vh;
    gap: 2rem;
    
}
body > *{
    padding: 1rem;
    
}
.text-red{
    color: #0a0a0a;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333333;
}

.text-gray{
    color: #555555;
}
.bg-dark{
    background: color #263238;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight:600;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary:hover{
    background-color:rgb(31, 148, 238);
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem;
}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500px;
}

/*#########  Page2 ganral codeing ##############*/
header,
footer,
show
{
    grid-column: 1/-1;
}
@media(max-width:768px) {
   body { grid-template-columns: 1fr;
    grid-template-rows:64px 1fr 84px;
   }
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    text-align: right;
}
.nav-items{
    font-size: 2.1rem
}
.navbar ul li{
    display: inline-block;
    padding: 2rem
}
.contect-image img{
    width: 100%;
    margin: 3rem,auto;
}
.form-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size:3rem
}
footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.social-media-links i{
    margin: 2rem;
    font-size: 32px;
}
.btn-primary{
    background: #0a0a0a;
    color: white;
    font-size:15px;
    width:10rem;
    border-radius: 0 10rem;
}
.form-container h2{
    font-size:25px;
}
.form-container input,textarea{
    margin-top: 30px;
}


.contect-container{
    display: flex;
    flex-direction: column;
}
.contect-image{
    width: 90%;
    margin: 3rem,auto;
}
.contect-container {
    display: flex;
    background: #fff;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
#contect {
    padding: 5rem 0;
    background: rgb(226 226 226);
}