/*#########  ganral codeing ##############*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-color: #ebe5e5;
    }
body{
    font-family: "montserrat" sans-serif;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 400px 1fr 84px;
    height: 100vh;
    gap: 2rem;
}
body > *{
    padding: 1rem;
   
}
.text-red{
    color: #0a0a0a;
}
.text-light{
    color: #111010;
}
.text-black{
    color: #333333;
}
.text-gray{
    color: #555555;
}
.bg-dark{
    background: color #263238;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight:400;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color:#0a0a0a;
    border-radius: 0 10rem;
    color:#ffffff;
}
.btn-primary:hover{
    background-color:rgb(31, 148, 238);
}
.btn-secondary{
    border: 2px solid red;
    background-color:#ffffff;
    border-radius: 2.5em;
    color:rgb(31, 148, 238);
}
.btn-secondary:hover{
     background-color:#0dafea;
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2rem;
}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500px;
}
/*#########  Page1 ganral codeing ##############*/
header,
footer,
show
{
    grid-column: 1/-1;
}
@media(max-width:768px) {
   body { grid-template-columns: 1fr;
    grid-template-rows:400px 1fr 84px;
}
}
.showcase-image img{
    height: 380px;
    width:100%;
}
.div-content h1{
    text-align: center;
}
.div-content form{
    text-align: center;
    font-size: 2rem;
}
footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.social-media-links i{
    margin: 2rem;
    font-size: 32px;
}

